@model NorthwestLabs.Models.TestEquipment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TestEquipment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Equipment.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipment.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Test.TestName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Test.TestName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TestEquipmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
