@model NorthwestLabs.Models.EmpCost

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmpCost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.EmpFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.EmpFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkOrderTest.TestResult)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkOrderTest.TestResult)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoursWorked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoursWorked)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EmpCostID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
