@model IEnumerable<NorthwestLabs.Models.EmpCost>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.EmpFirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrderTest.TestResult)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoursWorked)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.EmpFirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkOrderTest.TestResult)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoursWorked)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmpCostID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmpCostID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmpCostID })
        </td>
    </tr>
}

</table>
